  <div>
    <br>
    <mat-card>

      <section class="mat-typography">
        <h3>Update Player</h3>
      </section>

      <form [formGroup]="updateForm" class="edit-form">

        <mat-form-field class="field-full-width">
          <input matInput formControlName="username" placeholder="username" #username>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="rank" placeholder="rank" #rank>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="score" placeholder="score"  #score>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="time" placeholder="time" #time>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="favorite" placeholder="favorite" #favorite>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select placeholder="Customer" formControlName="customer" #customer>
            <mat-option value="customer">A Customer</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select placeholder="Status" formControlName="status" #status>
            <mat-option value="customer">A status</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <button mat-raised-button color="accent" (onclick)="updatePlayers(username.value, rank.value,
        score.value, time.value, favorite.value, customer.value, status.value)" [disabled]="updateForm.pristine || updateForm.invalid"
         mat-raised-button color="primary">Update</button>
        <button type="button" mat-raised-button color="accent" routerLink="/adminplayers">Back</button>
      </form>
    </mat-card>
  </div>