  <div>
    <br>
    <mat-card>

      <section class="mat-typography">
        <h3>Update Player</h3>
      </section>

      <form [formGroup]="updateForm" class="edit-form">

        <mat-form-field class="field-full-width">
          <input matInput formControlName="username" placeholder="username" #username>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-select placeholder="rank" formControlName="rank" #rank>
              <mat-option value="Silver 1">Silver 1</mat-option>
              <mat-option value="Silver 2">Silver 2</mat-option>
              <mat-option value="Silver 3">Silver 3</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="score" placeholder="score"  #score>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="time" placeholder="time" #time>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-select placeholder="Favorite" formControlName="favorite" #favorite>
              <mat-option value="Counter-Strike">Counter-Strike</mat-option>
              <mat-option value="Overwatch">Overwatch</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select placeholder="Status" formControlName="status" #status>
            <mat-option value="Available">Available</mat-option>
            <mat-option value="Unavailable">Unavailable</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <button type="submit" mat-raised-button color="accent" (click)="updatePlayers(username.value, rank.value,
        score.value, time.value, favorite.value, customer.value, status.value)" [disabled]="updateForm.pristine || updateForm.invalid"
         mat-raised-button color="primary">Update</button>
        <button type="button" mat-raised-button color="accent" routerLink="/adminplayers">Back</button>
      </form>
    </mat-card>
  </div>