  <div>
    <br>
    <mat-card>

      <section class="mat-typography">
        <h3>Add A New Player</h3>
      </section>

      <form [formGroup]="addForm" class="add-form">

        <mat-form-field class="field-full-width">
          <input matInput formControlName="username" placeholder="username" #username>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-select placeholder="Rank" formControlName="rank" #rank>
              <mat-option value="rank">Silver 1</mat-option>
              <mat-option value="rank2">Silver 2</mat-option>
              <mat-option value="rank3">Silver 3</mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput formControlName="score" placeholder="score"  #score>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput formControlName="time" placeholder="time" #time>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-select placeholder="Favorite" formControlName="favorite" #favorite>
              <mat-option value="fav">Counter-Strike</mat-option>
              <mat-option value="fav">Overwatch</mat-option>
              </mat-select>
        </mat-form-field>
        
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Customer" formControlName="customer" #customer>
                      <mat-option value="customer">Customer</mat-option>
                      </mat-select>
                  </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="accent" (click)="addPlayers(username.value, rank.value,
                score.value, time.value, favorite.value, customer.value)" [disabled]="addForm.pristine || addForm.invalid"
                 mat-raised-button color="primary">Add</button>
        <button type="button" mat-raised-button color="accent" routerLink="/adminplayers">Back</button>
      </form>
    </mat-card>
  </div>